{% extends 'base.html' %}
{% block title %} Пост "{{ post.text|truncatechars:30 }}" {% endblock %}
{% block content %}
{% load thumbnail %}
  <h1>Пост "{{ post.text|truncatechars:30 }}"</h1>
  <aside class="col-12 col-md-3">
    {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
      <img class="card-img my-2" src="{{ im.url }}">
    {% endthumbnail %}
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Дата публикации: {{ post.pub_date|date:"d E Y" }} 
      </li>
      {% if post.group %}
      <li class="list-group-item">
        Группа: {{ post.group.title }}
        {% if post.group %}
          <a href="{% url 'posts:group_list' post.group.slug %}">все посты группы</a>
        {% endif %}
      </li>
      {% endif %}
      <li class="list-group-item">
        Автор:
        <a href="{% url 'posts:profile' post.author.username %}">{{ post.author.username }}</a>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Всего постов автора:  {{ post.author.posts.count }}
      </li>
      <li class="list-group-item">
  
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    {% include 'includes/content_post.html' %}
  </article>
{% endblock %}
